#home-container
{
    display: flex;
    flex-direction: column;
    background-color: rgb(199, 154, 191);
    height: 100vh;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1705837861201-dd000d929a31?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8Ym9vayUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D');
    
    
}

#sub-home-container
{
    margin-top: 50px;
}

#image-div-home
{
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    animation-name: images;
    animation-duration: 5s;   
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;

   
}


@keyframes images
{
    0% {transform: translateX(0%);}
    
    100% {transform: translateX(5%);}
}

#quote-div {
    margin-top: 30px;
    margin-bottom: -30px;
    font-size: 25px;
    font-weight: bold;
    animation: blink-grow 1s infinite;
}

@keyframes blink-grow {
    0%, 100% {
        opacity: 1;
        
    }
    50% {
        opacity: 0;
        
    }
}

#greet-home
{
    color: bisque;
    background-color: rgb(79, 4, 4);
    padding: 10px;
    font-style: oblique;
}
@media screen and (max-width : 390px)  and (max-height : 1000px){
    #home-container
    {
        width: 440px;
        height: 700px;
    }

    #image-div-home 
{
    display: flex;
    flex-direction: column;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    width: 50%;
    animation-name: images;
    animation-duration: 5s;   
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;

   
}
img
{
    padding-bottom: 20px;
}
    
@keyframes images
{
    0% {transform: translateX(0%);}
    
    100% {transform: translateX(100%);}
}
#imagesmo
{
    display: none;
}
}